@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
}

h1 {
    letter-spacing: 3px;
}

.poke-container{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon{
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemon .img-container{
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    text-align: center;
}

.img-container2 img{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;

}

.img-container2{
    background-image: url(images/pokemon_circle_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.basic-info{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding-top: 20px;
    text-shadow: 2px 2px gray;
}

.info{
    text-align: center;
    font-size: large;
}

.pokemon .img-container img{
    margin-top: 20px;
    max-width: 90%;
}

.pokemon .info{
    margin-top: 20px;
}

.pokemon .number{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.pokemon .name{
    margin: 15px 0 7px;
    letter-spacing: 1px;
}
