@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
    box-sizing: border-box;
}

body
{
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
}

h1 {
    letter-spacing: 3px;
    font-size: 70px;
}

.poke-container{
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon{
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 4px solid #fff
}

.pokemon:hover {
    animation: bounce 0.5s linear;
    cursor: pointer;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.pokemon .img-container{
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    text-align: center;
}

.img-container2 img{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;

}

.pokemon-popup{
    background-color: #eee;
    border-radius: 30px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 8px solid #fff
}

.type{
    font-weight: 500;
}

.img-container2{
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.basic-info{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding-top: 20px;
    text-shadow: 2px 2px 5px gray;
}

.info{
    text-align: center;
    font-size: large;
}

.pokemon .img-container img{
    margin-top: 20px;
    max-width: 90%;
}

.pokemon .info{
    margin-top: 20px;
}

.pokemon .number{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.pokemon .name{
    margin: 15px 0 7px;
    letter-spacing: 1px;
}

#myChart{
    max-width: 600px;
    margin-top: 30px;
}

#closeBtn{
    position: absolute;
    top: 20px;
    right: 20px;
}

button {
    background-color: orangered;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 3px;
    transition: transform 100ms;

}

button:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 1px 2px darkred;
}

.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    margin: 15px;
  }
  .radio .label {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #c8ccd4;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  .radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #225cff;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
  }
  .radio:hover .label:after {
    transform: scale(3.6);
  }
  input[type="radio"]:checked + .label {
    border-color: #225cff;
  }
  input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
  }
  .hidden {
    display: none;
  }
  #cntr .label{
      top: 5px;
  }
  #cntr{
      margin-bottom: 30px;
  }

  .info2 span{
      border: 5px solid #fff;
      border-radius: 20px;
      padding: 5px;
  }

  
.wrapper{
    position: relative;
    top: 30px;
    left: 245px;
    transform: translate(-50%,-50%);
  }
  
.container{
    position: relative;
    padding: 20px 50px;
  }
  
.input{
    width: 400px;
    border: 3px solid black;
    background: transparent;
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    color: black;
  }
  
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    font-family: Roboto;
  }
::-moz-placeholder { /* Firefox 19+ */
    color: black;
  }
:-ms-input-placeholder { /* IE 10+ */
    color: black;
  }
  
.close-btn{
    position: absolute;
    top: 21px;
    right: 50px;
    cursor: pointer;
    color: white;
    background: black;
    border: 0px;
    width: 120px;
    height: 55px;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
  }

.form-submit-button {
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    width: 80px;
    height: 30px;    
    }
    
.form-submit-button:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    }
    
    
